.u-row {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0
}

.u-row .u-col {
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0
}

.u-row .u-col.u-col-100 {
  flex: 0 0 100%;
  max-width: 100%
}

@media (max-width:767px) {
  .u-row:not(.no-stack) {
    flex-wrap: wrap
  }

  .u-row:not(.no-stack) .u-col {
    flex: 0 0 100% !important;
    max-width: 100% !important
  }
}

body,
html {
  padding: 0;
  margin: 0
}

html {
  box-sizing: border-box
}

*,
:after,
:before {
  box-sizing: inherit
}

html {
  font-size: 14px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent
}

p {
  margin: 0
}

form .error-field {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

form .error-field input,
form .error-field textarea {
  border-color: #a94442 !important;
  color: #a94442 !important
}

form .field-error {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  top: -20px;
  right: 10px
}

form .field-error:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #ebcccc;
  border-width: 5px;
  margin-left: -5px
}

form .spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center
}

form .spinner>div {
  width: 12px;
  height: 12px;
  background-color: hsla(0, 0%, 100%, .5);
  margin: 0 2px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both
}

form .spinner .bounce1 {
  -webkit-animation-delay: -.32s;
  animation-delay: -.32s
}

form .spinner .bounce2 {
  -webkit-animation-delay: -.16s;
  animation-delay: -.16s
}

@-webkit-keyframes sk-bouncedelay {

  0%,
  80%,
  to {
    -webkit-transform: scale(0)
  }

  40% {
    -webkit-transform: scale(1)
  }
}

@keyframes sk-bouncedelay {

  0%,
  80%,
  to {
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@-webkit-keyframes shake {

  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0)
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0)
  }
}

@keyframes shake {

  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0)
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0)
  }
}

@media (max-width:480px) {
  .container {
    max-width: 100% !important
  }
}

@media (min-width:481px) and (max-width:768px) {
  .hide-tablet {
    display: none !important
  }
}

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto
}

@media (min-width:576px) {
  .container {
    max-width: 540px
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px
  }
}

a[onclick] {
  cursor: pointer
}



#u_body a {
  color: #00e;
  text-decoration: underline
}

#u_body a:hover {
  color: #00e;
  text-decoration: underline
}

@media (max-width:480px) {
  #u_content_text_30 .v-font-size {
    font-size: 19px !important
  }

  #u_content_text_30 .v-color {
    color: #6f315e !important
  }

  #u_content_text_30 .v-line-height {
    line-height: 90% !important
  }

  #u_content_text_31.v-container-padding-padding {
    padding: 0 10px 2px !important
  }

  #u_content_text_31 .v-font-size {
    font-size: 10px !important
  }

  #u_content_html_22.v-container-padding-padding {
    padding: 0 !important
  }

  #u_content_text_16.v-container-padding-padding {
    padding: 3px 10px !important
  }

  #u_content_text_16 .v-font-size {
    font-size: 11px !important
  }

  #u_content_text_16 .v-text-align {
    text-align: center !important
  }

  #u_content_text_16 .v-line-height {
    line-height: 130% !important
  }

  #u_content_html_34.v-container-padding-padding {
    padding: 5px 0 !important
  }

  #u_content_html_38.v-container-padding-padding {
    padding: 10px 10px 10px 28px !important
  }

  #u_content_image_36.v-container-padding-padding {
    padding: 0 !important
  }

  #u_row_13 .v-row-background-color {
    background-color: #fff !important
  }

  #u_row_13.v-row-background-color {
    background-color: #fff !important
  }

  #u_content_image_9.v-container-padding-padding {
    padding: 0 !important
  }

  #u_content_image_37.v-container-padding-padding {
    padding: 0 !important
  }

  #u_content_html_39.v-container-padding-padding {
    padding: 10px 10px 10px 28px !important
  }

  #u_column_50 .v-col-background-color {
    background-color: #fff !important
  }

  #u_column_50.v-col-background-color {
    background-color: #fff !important
  }

  #u_content_html_23.v-container-padding-padding {
    padding: 0 0 5px !important
  }

  #u_row_86 .v-row-background-color {
    background-color: #fff !important
  }

  #u_row_86.v-row-background-color {
    background-color: #fff !important
  }

  #u_content_image_41.v-container-padding-padding {
    padding: 0 !important
  }

  #u_row_87 .v-row-background-color {
    background-color: #fff !important
  }

  #u_row_87.v-row-background-color {
    background-color: #fff !important
  }

  #u_column_91 .v-col-background-color {
    background-color: #fff !important
  }

  #u_column_91.v-col-background-color {
    background-color: #fff !important
  }

  #u_content_html_43.v-container-padding-padding {
    padding: 10px 0 !important
  }

  #u_row_89 .v-row-background-color {
    background-color: #fff !important
  }

  #u_row_89.v-row-background-color {
    background-color: #fff !important
  }

  #u_content_image_46.v-container-padding-padding {
    padding: 0 !important
  }

  #u_content_html_44.v-container-padding-padding {
    padding: 10px 10px 10px 28px !important
  }

  #u_row_90 .v-row-background-color {
    background-color: #fff !important
  }

  #u_row_90.v-row-background-color {
    background-color: #fff !important
  }

  #u_content_image_47.v-container-padding-padding {
    padding: 0 !important
  }

  #u_content_image_48.v-container-padding-padding {
    padding: 0 !important
  }

  #u_content_text_26.v-container-padding-padding {
    padding: 3px 2px 2px !important
  }

  #u_content_text_26 .v-font-size {
    font-size: 9px !important
  }

  #u_content_text_26 .v-line-height {
    line-height: 100% !important
  }

  #u_content_image_35.v-container-padding-padding {
    padding: 0 5px 5px !important
  }

  #u_content_text_32.v-container-padding-padding {
    padding: 5px !important
  }

  #u_content_text_32 .v-font-size {
    font-size: 6px !important
  }

  #u_content_text_32 .v-line-height {
    line-height: 110% !important
  }
}